.error_mensaje{
    color: red;
    display: none;
}

.elemento_formulario_plantillas{
    margin-bottom: 15px;
}

#contenedor_ventana_modal_settings{
    max-width: 700px;
}

#ventana_modal_settings li:nth-child(even){
    background-color: rgba(0, 0, 0, 0.08);
}

#ventana_modal_settings li{
    /* padding: 5px 10px; */
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
}

#ventana_modal_settings label,
#ventana_modal_settings button{
    margin: 0;
}

#ventana_modal_settings label{
    width: 100%;
}

#ventana_modal_settings label .img_modulos{
    width: 25px;
}

#ventana_modal_settings button{
    background-color: var(--color_primary);
    color: white;
}

/* .boton_settings{
    pointer-events: none;
} */
#titulo_crear_editar_plantilla,
#titulo_crear_editar_ponderacion{
    border-bottom: 1px solid var(--color_primary);
    margin-bottom: 15px;
}

#ventana_modal_settings{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#ventana_gestionar_plantillas > ul{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0;
    margin: 0 0 15px;
    list-style-type: none;
}

#ventana_gestionar_plantillas > ul > li,
#contenedor_ponderaciones_plantilla > ul > li{
    /* padding: 5px 10px 5px 5px; */
    padding: 5px;
    /* margin-left: 30px; */
}

#contenedor_ventana_crear_editar{
    display: none;
    flex-direction: column;
}

#ventana_crear{
    display: none;
    flex-direction: column;
    margin-top: 20px;
    
    background-color: rgba(0, 0, 0, 0.05);
    /* flex-direction: column; */
    padding: 10px;
}

#contenedor_nombre_plantilla,
#contenedor_palabra_clave_ponderaciones,
#contenedor_porcentaje_ponderaciones{
    display: flex;
    flex-direction: column;
}

#contenedor_categorias_plantilla > ul{
    background-color: white;
    padding: 0;
    list-style-type: none;
    border: 1px solid var(--color_celeste_approx);
    margin: 0;
}

#contenedor_ponderaciones_plantilla > ul{
    background-color: white;
    border: 1px solid var(--color_celeste_approx);
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    list-style-type: none;
}

#contenedor_listado_modulos_ponderaciones > ul{
    background-color: white;
    padding: 0;
    list-style-type: none;
    border: 1px solid var(--color_celeste_approx);
    margin: 0;
}

#contenedor_crear_editar_ponderaciones{
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;
}

#input_porcentaje_ponderacion{
    height: 40px;
}

#admin-json_string{
    display: none;
}

#contenedor_ventana_modal_settings button[disabled]{
    background-color: gray;
    cursor: not-allowed;
}

.imagenes_estado {
    width: 25px;
}